@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap');

:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Raleway';
    font-weight: 600;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

}

.header{
    height:50px;
    display:flex;
    justify-content:space-between;
    padding: 2rem 4rem;
    margin: 1rem 0;
}

.header h1{
    font-family: 'Dancing Script';
    font-weight: 600;
    font-size: 23px;
}

i{
    font-size: 18px;
}

#menu{
    display: none;
}

/* .menu-bar{
    display: none;
} */

.head a {
    padding: 0.5rem ;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
    color: var(--color-sec);
}

.titles {
    background-color: var(--color-grey);
    height: 90px;
    margin: 0;
}

.titles .title {
    padding: 3rem 0 0 4.5rem;
    font-size: 20px;
    color: grey;
}

.input-search{
    background-color: var(--color-grey);
}

.products p{
    font-size: 15px;
    font-weight: 600;
    padding-top: 2rem;
    
}

.product .select-product{
    font-size: 12px;
    padding: 1.5px 0 0 4rem;
    cursor: pointer;
    transition: all .5s ease;  
}

.active{
    color: var(--color-sec);
    text-decoration: underline;
}

.items{
    width: 20rem;
    /* background-color: #db6400; */
    transition: all .5s ease;
    animation: slide-up ease .8s;

}

@keyframes slide-up {
    from{
        transform: translateY(30rem);
    }to{
        transform: translateY(0);
    }
}

.item{
    width: 20rem ;
    /* background-color: #31326f; */
}

.items .item h2{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: grey
}

.items .item p{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.items .item img{
    width: 20rem;
}

.items .item .price span{
    padding-right: 4px;
    color: var(--color-primary);
    text-decoration: line-through;
}

.items-collection{
    display: grid;
    grid-template-columns: repeat(
        3,
        minmax(30rem, 1fr)
    );
    grid-gap: 1rem;
}

@media screen and (max-width:600px){
    .head a {
        display: none;
    }

    .head #menu{
        display: block;
    }

    .menu-bar{
        height: 5rem;
        width: 100%;
        transition: all .5s ease;
        animation: slide-down ease .8s;
    }
    
    @keyframes slide-down {
        from{
            transform: translateY(1);
        }to{
            transform: translateY(-121);
        }
    }
    .menu-bar .bars a {
        padding: 4rem;
        text-decoration: none;
        font-size: 13px;
    }
    
    .items-collection{
        margin: 0 6px;
    }

    .titles .title {
        padding-left: 3rem;
    }

    .items{
        width: 15rem;
        /* background-color: #db6400; */
    }
    
    .item{
        width: 15rem ;
        /* background-color: #31326f; */
    }
    
    .items .item img{
        width: 15rem;
    }

    .items-collection{
        display: grid;
        grid-template-columns: repeat(
            2,
            minmax(10rem, 1fr)
        );
        grid-gap: 3rem;
    }
}